#t1{
    text-align: center;
    color: #145A32;
}

.main-nav{
    margin: 10px;
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.main-nav-item{
    display: inline-block;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #000;
    text-align: center;
}

.main-nav-item a{
    display: block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    border-right: 10px solid #ffffff;
}

.main-nav-item a:hover{
    background-color: black;
    color: #ffffff;
}

.main-nav-item a:active{
    background-color: black;
    color: #fff;
}
